@model AllWorldReservation.web.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Layout/DashboardLayout/_DashboardLayout.cshtml";
}

<!-- Vertical Layout -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Reset Password
                </h2>
                <button type="button" class="btn btn-primary waves-effect m-t-15" onclick="window.open('/Users','_self')">
                    <i class="material-icons">keyboard_arrow_left</i>
                    <span>Back To List</span>
                </button>
            </div>
            <div class="body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Code)
                    @Html.HiddenFor(model => model.Email)
                    @Html.LabelFor(model => model.Password)
                    <div class="form-group">
                        <div class="form-line">
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Enter " + Html.DisplayNameFor(model => model.Password) })
                        </div>
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.ConfirmPassword)
                    <div class="form-group">
                        <div class="form-line">
                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Enter " + Html.DisplayNameFor(model => model.ConfirmPassword) })
                        </div>
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                    <button type="submit" class="btn btn-primary waves-effect">
                        <span>Save</span>
                        <i class="material-icons">save</i>
                    </button>
                }
            </div>
        </div>
    </div>
</div>
<!-- #END# Vertical Layout -->