@model AllWorldReservation.BL.Models.HotelModel
@{
    Layout = "~/Views/Layout/WebsiteLayout/_WebsiteLayout.cshtml";
    ViewBag.Title = "Booking";
}
<div class="hero-wrap js-fullheight" style="background-image: url('../../images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Hotel</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">@ViewBag.Location</h1>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ftco-animate">
                <h4 class="mb-1">@Model.Name </h4>
                <span class="mb-3"><i class="icon-map-o"></i> @Model.Address</span>
                <br />
                @Html.Raw(Model.Description)
            </div> <!-- .col-md-8 -->
            <div class="col-md-4">
                <img src="@(Model.Photo != null ? "/Uploads/" + Model.Photo.Name : "/images/blank.png")" style='height: 100%; width: 100%; object-fit: contain' />
            </div>
        </div>
        <br />
        <div class="col-md-12">
            <form action="/Book/Hotel" method="get">
                <input type="hidden" name="Guid" value="@Model.GUID" />
                <input type="hidden" name="ResultId" value="@Model.ResultId" />
                <input type="hidden" name="Guest" value="@ViewBag.Guest" />
                <table style="width:100%;text-align:center;">
                    <tr>
                        <th>Select</th>
                        <th>Room</th>
                        <th>Board Basis</th>
                        <th>Room Price</th>
                    </tr>
                    @{ var first = true; }
                    @foreach (var item in Model.Rooms)
                    {
                        <tr>
                            <td><input type="radio" name="room" value="@item.Id" @(first ? "checked" : "") /></td>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            <td>@item.TotalAmount $</td>
                        </tr>
                        first = false;
                    }
                </table>
                <button type="submit" class="mt-4 btn btn-primary" id="payButton">Book</button>
            </form>
        </div>
    </div>
</section>
