@using System.Text.RegularExpressions
@model IEnumerable<AllWorldReservation.DAL.Entities.Hotel>
@{
    Layout = "~/Views/Layout/WebsiteLayout/_WebsiteLayout.cshtml";
    ViewBag.Title = "Hotel";
}

<div class="hero-wrap js-fullheight" style="background-image: url('../../images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Hotel</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Hotels</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 sidebar order-md-last ftco-animate">
                <div class="sidebar-wrap ftco-animate">
                    <h3 class="heading mb-4">Find Hotel</h3>
                    <form action="/Hotel" method="get">
                        <div class="fields">
                            <div class="form-group">
                                <input type="text" class="form-control" id="hotel" name="hotel" value="@ViewBag.Hotel" placeholder="Enter Hotel">
                            </div>
                            <div class="form-group">
                                <div class="select-wrap one-third">
                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                    @Html.DropDownList("Place", null, "Select Place", new { @class = "form-control" })

                                    @*<select name="place" id="place" class="form-control" placeholder="Keyword search">
                    <option value="">Select Location</option>
                    <option value="">San Francisco USA</option>
                    <option value="">Berlin Germany</option>
                    <option value="">Lodon United Kingdom</option>
                    <option value="">Paris Italy</option>
                </select>*@
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="select-wrap one-third">
                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                    <select name="star" id="star" class="form-control" placeholder="Stars">
                                        <option value="">Select Star</option>
                                        <option value="1" @(ViewBag.Stars==1? "selected":"")>1</option>
                                        <option value="2" @(ViewBag.Stars==2? "selected":"")>2</option>
                                        <option value="3" @(ViewBag.Stars==3? "selected":"")>3</option>
                                        <option value="4" @(ViewBag.Stars==4? "selected":"")>4</option>
                                        <option value="5" @(ViewBag.Stars==5? "selected":"")>5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" id="checkin_date" class="form-control checkin_date" placeholder="Date from">
                            </div>
                            <div class="form-group">
                                <input type="text" id="checkout_date" class="form-control checkout_date" placeholder="Date to">
                            </div>
                            <div class="form-group">
                                <div class="range-slider">
                                    <span>
                                        From
                                        <input type="number" name="fromPrice" id="fromPrice" value="@ViewBag.FromPrice" min="0" max="120000" />	-
                                        To
                                        <input type="number" name="toPrice" id="toPrice" value="@ViewBag.ToPrice" min="0" max="120000" />
                                    </span>
                                    @*<input value="1000" min="0" max="120000" step="500" type="range" />
                <input value="50000" min="0" max="120000" step="500" type="range" />*@
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Search" class="btn btn-primary py-3 px-5">
                            </div>
                        </div>
                    </form>
                </div>
                @*<div class="sidebar-wrap ftco-animate">
                    <h3 class="heading mb-4">Star Rating</h3>
                    <form method="post" class="star-rating">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">
                                <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></span></p>
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">
                                <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i></span></p>
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">
                                <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i></span></p>
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">
                                <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i></span></p>
                            </label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">
                                <p class="rate"><span><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i></span></p>
                            </label>
                        </div>
                    </form>
                </div>*@
            </div><!-- END-->
            <div class="col-lg-9">
                <div class="row">
                    @foreach (var item in Model)
                    {

                        <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                            <div class="destination">
                                <a class="img img-2 d-flex justify-content-center align-items-center dynamic" id="@item.Id" name="@item.Name" style="background-image: url(@(item.Photo != null ? "../../Uploads/" + item.Photo.Name : "../../images/blank.png"));">
                                    <div class="icon d-flex justify-content-center align-items-center">
                                        <span class="icon-link"></span>
                                    </div>
                                </a>
                                <div class="text p-3">
                                    <div class="d-flex">
                                        <div class="one">
                                            <h3><a href="#">@item.Name</a></h3>
                                            <p class="rate">
                                                @{
                                                    int i = 0;
                                                    while (i < item.Stars)
                                                    {
                                                        @:<i class="icon-star"></i>
                                                        i++;
                                                    }
                                                    while (i < 5)
                                                    {
                                                        @:<i class="icon-star-o"></i>
                                                        i++;
                                                    }
                                                }
                                                <span>Star</span>
                                            </p>
                                        </div>
                                        <div class="two">
                                            <span class="price per-price">@item.Price $<br><small>/night</small></span>
                                        </div>
                                    </div>
                                    <p>@Regex.Replace(item.Description ?? "", "<(.|\\n)*?>", string.Empty)</p>
                                    <hr>
                                    <p class="bottom-area d-flex">
                                        <span><i class="icon-map-o"></i> @item.Place.Name</span>
                                        <span class="ml-auto"><a href="/bookhotel/@item.Id">More</a></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            <ul>
                                <li class="@(ViewBag.currentPage == 1 ? "disabled" : "")"><a href="/Hotel?page=1&hotel=@ViewBag.Hotel&place=@ViewBag.SelectedPlace&fromPrice=@ViewBag.FromPrice&toPrice=@ViewBag.ToPrice&star=@ViewBag.Stars">&lt;</a></li>
                                @for (int i = 1; i <= ViewBag.totalPage; i++)
                                {
                                    <li class="@(ViewBag.currentPage == i ? "active" : "")"><a href="/Hotel?page=@i&hotel=@ViewBag.Hotel&place=@ViewBag.SelectedPlace&fromPrice=@ViewBag.FromPrice&toPrice=@ViewBag.ToPrice&star=@ViewBag.Stars">@i</a></li>

                                }
                                <li class="@(ViewBag.currentPage == ViewBag.totalPage ? "disabled" : "")"><a href="/Hotel?page=@ViewBag.totalPage&hotel=@ViewBag.Hotel&place=@ViewBag.SelectedPlace&fromPrice=@ViewBag.FromPrice&toPrice=@ViewBag.ToPrice&star=@ViewBag.Stars">&gt;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> <!-- .col-md-8 -->
        </div>
    </div>
</section> <!-- .section -->
@section scripts{
    <script>
        $('.dynamic').on('click', function () {
            debugger;
            var itemId = $(this).attr("id");
            var itemName = $(this).attr("name");
            $.ajax({
                method: "GET",
                url: "/Galleries/Get/" + itemId + "?type=" + @((int)AllWorldReservation.BL.Enums.EnumCollection.PhotoType.Hotel),
                dataType: "json",
                success: function (data, status, xhr) {
                    debugger;
                    var elements = [];
                    for (var i = 0; i < data.length; i++) {
                        var element = {
                            "src": data[i],
                            "thumb": data[i],
                            "subHtml": '<p>' + itemName + '</p>'
                        }
                        elements.push(element);
                    }                  
                    $(this).lightGallery({
                        dynamic: true,
                        dynamicEl: elements
                    })
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    debugger;
                    console.log(errorMessage);
                }
            });
        });
    </script>
}
