@using AllWorldReservation.DAL.Context
@using Microsoft.AspNet.Identity
@{
    ApplicationDbContext context = new ApplicationDbContext();
    var user = context.Users.Find(User.Identity.GetUserId());
    var settings = context.Settings.First();
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewBag.Title</title>

    <meta charset="utf-8">
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/WebSite/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/WebSite/animate.css">
    <link rel="stylesheet" href="~/Content/WebSite/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/WebSite/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/WebSite/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/WebSite/aos.css">
    <link rel="stylesheet" href="~/Content/WebSite/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/WebSite/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Content/WebSite/jquery.timepicker.css">
    <link href="~/plugins/light-gallery/css/lightgallery.css" rel="stylesheet" />
    <link href="~/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/WebSite/flaticon.css">
    <link rel="stylesheet" href="~/Content/WebSite/icomoon.css">
    <link rel="stylesheet" href="~/Content/WebSite/style.css">
    <link href="~/Content/WebSite/WebSiteStyle.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/home">All World Reservation</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                @{
                    var action = ViewContext.RouteData.Values["Action"].ToString().ToLower();
                }
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item @(action == "index" ? "active" : "")"><a href="/Home" id="NLink" class="nav-link">Home</a></li>
                    <li class="nav-item @(action == "about" ? "active" : "")"><a href="/About" id="NLink" class="nav-link">About</a></li>
                    <li class="nav-item @(action == "tours" ? "active" : "")"><a href="/Tour" id="NLink" class="nav-link">Tours</a></li>
                    <li class="nav-item @(action == "hotels" ? "active" : "")"><a href="/Hotel" id="NLink" class="nav-link">Hotels</a></li>
                    <li class="nav-item @(action == "properties" ? "active" : "")"><a href="/Property" id="NLink" class="nav-link">Properties</a></li>
                    <li class="nav-item @(action == "blog" ? "active" : "")"><a href="/Blog" id="NLink" class="nav-link">Blog</a></li>
                    <li class="nav-item @(action == "contact" ? "active" : "")"><a href="/Contact" id="NLink" class="nav-link">Contact</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item"><a href="#" class="nav-link btn btn-outline-warning mr-2">Welcome @user.UserName</a></li>
                        <li class="nav-item"><a href="/Dashboard" class="nav-link btn btn-warning">My Account</a></li>
                    }
                    else
                    {
                        <li class="nav-item"><a href="/Account/Register" class="nav-link btn btn-outline-warning mr-2">Sign Up</a></li>
                        <li class="nav-item"><a href="/Account/Login" class="nav-link btn btn-warning">Login</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>

    <footer class="ftco-footer ftco-bg-dark ftco-section text-center">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">About Us</h2>
                        <p>@settings.AboutCompany</p>
                        <ul class="ftco-footer-social list-unstyled mt-5">
                            <li class="ftco-animate"><a href="@settings.TwitterUrl"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="@settings.FacebookUrl"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="@settings.InstagramUrl"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                @*<div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-4">
                        <h2 class="ftco-heading-2">Information</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">About Us</a></li>
                            <li><a href="#" class="py-2 d-block">Online enquiry</a></li>
                            <li><a href="#" class="py-2 d-block">Call Us</a></li>
                            <li><a href="#" class="py-2 d-block">General enquiries</a></li>
                            <li><a href="#" class="py-2 d-block">Booking Conditions</a></li>
                            <li><a href="#" class="py-2 d-block">Privacy and Policy</a></li>
                            <li><a href="#" class="py-2 d-block">Refund policy</a></li>
                        </ul>
                    </div>
                </div>*@
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Experience</h2>
                        <ul class="list-unstyled">
                            <li><a href="/hotel" class="py-2 d-block">Hotels</a></li>
                            <li><a href="/tour" class="py-2 d-block">Tours</a></li>
                            <li><a href="/about" class="py-2 d-block">About</a></li>
                            <li><a href="/blog" class="py-2 d-block">Blog</a></li>
                            <li><a href="/contact" class="py-2 d-block">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Have a Questions?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">@settings.CompanyAddress</span></li>
                                <li><a href="#"><span class="icon icon-mobile"></span><span class="text">@settings.CompanyPhone</span></a></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">@settings.CompanyTelephone</span></a></li>
                                <li><a href="#"><span class="icon icon-fax"></span><span class="text">@settings.CompanyFax</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">@settings.CompanyEmail</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        <!-- Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved For All World Reservation | Developed  <i class="icon-heart" aria-hidden="true"></i> By <a href="https://www.linkedin.com/in/eng-ahmed-elgendy-4310b2162/" target="_blank"> AE </a> && <a href="https://www.linkedin.com/in/ahmedayman6038/" target="_blank"> AA </a>
                    </p>
                </div>
            </div>
        </div>
    </footer>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

    <script src="~/Scripts/Website/jquery.min.js"></script>
    <script src="~/Scripts/Website/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Scripts/Website/popper.min.js"></script>
    <script src="~/Scripts/Website/bootstrap.min.js"></script>
    <script src="~/Scripts/Website/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/Website/jquery.waypoints.min.js"></script>
    <script src="~/Scripts/Website/jquery.stellar.min.js"></script>
    <script src="~/Scripts/Website/owl.carousel.min.js"></script>
    <script src="~/Scripts/Website/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/Website/aos.js"></script>
    <script src="~/Scripts/Website/jquery.animateNumber.min.js"></script>
    <script src="~/Scripts/Website/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/Website/jquery-TimePicker-1.0.0.js"></script>
    <script src="~/plugins/light-gallery/js/lightgallery-all.js"></script>
    <script src="~/Scripts/Website/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/Scripts/Website/google-map.js"></script>
    <script src="~/Scripts/Website/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
