@model AllWorldReservation.web.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Layout/DashboardLayout/_AccountLayout.cshtml";
}

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="msg">Login to start your session</div>
    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">person</i>
        </span>
        <div class="form-line">
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.UserName), autofocus = "" } })
        </div>
        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
    </div>
    <div class="input-group">
        <span class="input-group-addon">
            <i class="material-icons">lock</i>
        </span>
        <div class="form-line">
            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(model => model.Password) })
        </div>
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    </div>
    <div class="row">
        <div class="col-xs-8 p-t-5">
            @* @Html.CheckBoxFor(m => m.RememberMe, new { @class = "filled-in chk-col-pink" })*@
            <input type="checkbox" name="RememberMe" id="RememberMe" class="filled-in chk-col-pink">
            @Html.LabelFor(m => m.RememberMe)
        </div>
        <div class="col-xs-4">
            <button class="btn btn-block bg-pink waves-effect" type="submit">LOGIN</button>
        </div>
    </div>
    <div class="row">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
    <div class="row m-t-15 m-b--20">
        <div class="col-xs-6">
            <a href="/Account/Register">Register Now!</a>
        </div>
        <div class="col-xs-6 align-right">
            <a href="/Account/ForgotPassword">Forgot Password?</a>
        </div>
    </div>
}
@section scripts {
    <script>
        $(function () {
            $("#RememberMe").change(function () {
                if ($("#RememberMe").is(':checked'))
                    $("#RememberMe").val("true");
                else
                    $("#RememberMe").val("false");
            });
        });
    </script>
}