@using AllWorldReservation.web.Gateway
@using AllWorldReservation.DAL.Entities
@model AllWorldReservation.web.Gateway.GatewayApiRequest
@{
    Layout = "~/Views/Layout/WebsiteLayout/_WebsiteLayout.cshtml";
    ViewBag.Title = "Booking";
}

<script type="text/javascript">
    var DotNetSample = {
        operation: function () {
            return "PAY";
        },
        endpoint: function () {
            return "/processHostedSession";
        },
        secureIdResponseUrl: function () {
            return null;
        }
    };
</script>
<!-- APPLY CLICK-JACKING STYLING AND HIDE CONTENTS OF THE PAGE -->
<style id="antiClickjack">
    body {
        display: none !important;
    }
</style>
<!-- INCLUDE SESSION.JS JAVASCRIPT LIBRARY -->
<script src="@ViewBag.JavascriptSessionUrl"></script>
<div class="hero-wrap js-fullheight" style="background-image: url('../../images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Blog</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Tips &amp; Articles</h1>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            @{ Hotel hotel = (Hotel)ViewBag.Hotel; }
            <div class="col-md-8 ftco-animate">
                <h2 class="mb-1">@hotel.Name <span style="float:right"><small>@hotel.Price L.E / night</small></span></h2>
                <span class="mb-3"><i class="icon-map-o"></i> @hotel.Location</span>
                @Html.Raw(hotel.Description)
            </div> <!-- .col-md-8 -->
            <div class="col-md-4">
                <img src="@(hotel.Photo != null ? "/Uploads/" + hotel.Photo.Name : "/images/blank.png")" style='height: 100%; width: 100%; object-fit: contain' />
            </div>

        </div>
        <div class="col-md-12">
            <div class="mb-4">
                <h6>Order details</h6>
                <input type="hidden" name="OrderId" id="order-id" value="@Model.OrderId" />
                <input type="hidden" name="OrderAmount" id="order-amount" value="@hotel.Price" />
                <input type="hidden" name="OrderCurrency" id="order-currency" value="@Model.OrderCurrency" />
                <input type="hidden" name="OrderDescription" id="order-description" value="@Model.OrderDescription" />
                <input type="hidden" name="TransactionId" id="transaction-id" value="@Model.TransactionId" />
                <div class="form-group">
                    <p>@hotel.Price</p>
                </div>
            </div>
           
            <div>
                <h6>Payment details</h6>
                <div class="form-group">
                    <label for='card-number'>Card number:</label>
                    <input type="text" id="card-number" class="form-control input-md" readonly="" required>
                </div>
                <div class="form-group">
                    <label for='expiry-month'>Expiry month:</label>
                    @Html.EditorFor(model => model.ExpiryMonth, new { htmlAttributes = new { @class = "form-control input-md", @id = "expiry-month", @maxlength = "2", @required = "required" } })
                </div>
                <div class="form-group">
                    <label for='expiry-year'>Expiry year:</label>
                    @Html.EditorFor(model => model.ExpiryYear, new { htmlAttributes = new { @class = "form-control input-md", @id = "expiry-year", @maxlength = "4", @required = "required" } })

                </div>
                <div class="form-group">
                    <label for='security-code'>Security code:</label>
                    <input type="text" id="security-code" class="form-control input-md" readonly="" required>
                </div>
            </div>
            <button type="submit" class="mt-4 btn btn-primary" id="payButton" onclick="pay();">Pay</button>
        </div>
        <div id="error-alert" class="alert alert-danger" role="alert" style="display:none;padding-top:20px">
            <p>The following error(s) occurred:</p>
        </div>
    </div>
</section>
<script src="~/Scripts/Website/hostedSession.js"></script>
@section scripts{
    <script type="text/javascript">
        $("form").submit(function () {
            $("#payButton").html("Paying...");
        });
    </script>

}